body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
}

h1 {
  color: rgb(20, 89, 86);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(20, 89, 86);
  font-size: 18px;
  font-weight: 300;
}

li:first-letter {
  text-transform: capitalize;
}
.wrap-whole {
  max-width: 800px;
  margin: 0 auto;
}

.wrap-board {
  max-width: 800px;
  margin: 30px auto 0;
  padding: 20px;
  border: 2px solid rgb(172, 241, 213);
}

.font-icon {
  color: rgb(20, 89, 86);
}

.form-button {
  cursor: pointer;
  background-color: #fff;
  color: rgb(20, 89, 86);
}
.strong strong {
  color: rgb(20, 89, 86);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
}

.units {
  color: rgb(20, 89, 86);
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: -20px;
}

.active {
  color: rgb(20, 89, 86);
  cursor: default;
  text-decoration: none;
  font-weight: 500;
}
