body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
}

h1 {
  color: rgb(20, 89, 86);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(20, 89, 86);
  font-size: 18px;
  font-weight: 300;
}

.wrap-whole {
  max-width: 600px;
  margin: 30px auto;
}

.wrap-board {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(172, 241, 213);
}

.strong strong {
  color: rgb(20, 89, 86);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
}

.units {
  color: rgb(20, 89, 86);
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: -20px;
}
